<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Satta Panchayat Iyakkam</h3>
	</div>


	<div class="panel-body">
		சட்ட பஞ்சாயத்து இயக்கம்..?<br>

		<strong>அரசு நிர்வாகம்: </strong>இலஞ்ச-ஊழல் இல்லாமலும் - இருப்பதே தெரியாமலும் இயங்கும் விரைவான, வெளிப்படையான, மக்கள் சேவகனாக இருக்கும் அரசு நிர்வாகத்தை உறுதிப்படுத்துதல்; குடிமக்கள் விழிப்புணர்வு: ஓட்டுரிமை உள்ளிட்ட அடிப்படை உரிமைகள், கடமைகள், சட்டங்கள் பற்றிய புரிதலை விதைத்து அனைத்து குடிமக்களிடம் ஜனநாயகம் குறித்த விழிப்புணர்வை ஏற்படுத்துதல்; அனைவருக்கும் வளர்ச்சி: கல்வி, மருத்துவம், விவசாயம், தொழில், அடிப்படைக் கட்டமைப்புகள், சட்டம்-ஒழுங்கு போன்றவற்றை மேம்படுத்துவதற்கு முக்கியத்துவமளித்து வளர்ச்சியின் பயன் அனைவருக்கும் சென்றுசேர்வதை உறுதிப்படுத்தும் கொள்கைகளை முன்வைத்தல்; இந்த மாபெரும் இலட்சியங்களை நோக்கிய பயணமே "சட்ட பஞ்சாயத்து இயக்கம்".<br><br>

		ஒருவரியில் சொல்வதென்றால் "சட்டத்தின் ஆட்சி", "அனைவருக்கும் வளர்ச்சி" தரும் "நல்லாட்சியை" மலரச் செய்வதற்கான மக்கள் இயக்கமே சட்ட பஞ்சாயத்து இயக்கமாகும்.<br><br>

		டிசம்பர் 14, 2013 அன்று, சென்னையில் திரு.சகாயம்.ஐ.ஏ.எஸ்.அவர்களால் சட்ட பஞ்சாயத்து இயக்கமும், இயக்கத்தின் தொலைபேசி சேவை மையமும் துவங்கி வைக்கப்பட்டது.<br><br>


		நிறுவனர்கள்<br>
		செயற்குழு<br>
		மாவட்ட கட்டமைப்பு

	</div>


	<div class="panel-footer ">
		<span class="h4">Contacts:</span>
		<div class=" navbar nav-justified">
			<span class="navbar-left">Email Id - <strong> sattapanchayat@gmail.com </strong> </span>
			<span class="navbar-right">Official Website - <strong>	http://sattapanchayat.org </strong> </span>
			<br>
			@*<span class="navbar-left">Facebook - </span>
			<span class="navbar-right">Twitter - </span>*@
			@*<span>LinkedIn</span>*@
		</div>
	</div>

</div>

