
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr class="text-primary">
					<th class="text-center">Schools/Colleges</th>
					<th class="text-center">Qualification</th>
					<th class="text-center">Grade/Marks</th>
					<th class="text-center">Location</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center success">
					<td>Little Flower Matric Higher Secondary School</td>
					<td>10th</td>
					<td>387/500 (77.7%)</td>
					<td>Tirunelveli</td>
				</tr>
				<tr class=" text-center active">
					<td>Sri Jayendra Saraswathi Swamigal Golden Jubliee Matric Higher Secondary School</td>
					<td>12th</td>
					<td>959/1200 (79.9%)</td>
					<td>Tirunelveli</td>
				</tr>
				<tr class=" text-center warning">
					<td>Saveetha Engineering College</td>
					<td>Computer Science and Engineering</td>
					<td>6.4/10</td>
					<td>Chennai</td>
				</tr>
				<tr class=" text-center danger">
					<td>Pondicherry University Loyola College</td>
					<td>MBA-General</td>
					<td>61%</td>
					<td>Chennai</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
