
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">MatrixCare India</h3>
	</div>


	<div class=" panel-body">
		<p>This is my Second company, I started my career in October 2017. It is a product based company and they have software like</p>
		<div class=" panel-danger">
			<ul>
				<li><a target="_blank" href="http://www.matrixcare.com/industry-solutions/life-plan-communities/">Life Plan Community</a></li>
				<li><a target="_blank" href="http://www.matrixcare.com/industry-solutions/home-care/">Home Care</a></li>
				<li><a target="_blank" href="http://www.matrixcare.com/industry-solutions/senior-living/">Senior Living</a></li>
				<li><a target="_blank" href="http://www.matrixcare.com/industry-solutions/skilled-nursing/">Skilled Nursing</a></li>
				<li><a target="_blank" href="http://www.matrixcare.com/industry-solutions/enterprise/">Enterprise</a></li>

			</ul>
		</div>

		<div>
			<p>I have worked in Life Plan Community(CCRC), One simple, complete system of clinical, financial and operational solutions offers all the functionality needed to manage life plan communities.</p>
		</div>
		<div class="row ">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Technologies:</h3>
					</div>
					<div class="panel-body panel-info">
						<ul>
							<li>Magic XPA</li>
							<li>C#.Net</li>
							<li>ASP.Net with MVC</li>
							<li>SQL</li>
							<li>JIRA </li>
							<li>GIT</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div class="panel-footer ">
		<span class="h4">Contacts:</span>
		<div class=" navbar nav-justified">
			<span class="navbar-left"><a href="http://www.matrixcare.com/company/contact/ "> <strong> click here</strong> </a></span>
			<span class="navbar-right">Official Website - <strong>	http://www.matrixcare.com/company/ </strong> </span>
		</div>
	</div>

</div>
