<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">RGS Construction Technologies</h3>
	</div>
	
	<div class=" panel-body">
		<p>This is my first company, I started my career in June 2014. It is a civil oriented product based company. Rgs Construction have products like</p>
		<div class=" panel-danger">
			<ul>
				<li><a target="_blank" href="https://www.viskartech.com/global/products/rgsrebar/ ">RGS Rebar</a></li>
				<li><a target="_blank" href="https://www.viskartech.com/global/products/viskarbim/">Viskar Bim</a></li>
				<li><a target="_blank" href="https://www.viskartech.com/global/products/rgsrebarshop/">Rebar Shop</a></li>
			</ul>
		</div>

		<div>
			<p>I have worked in Viskar Bim, it is a 3D modelling software purely for construction like Object based model, Rebar placing, Drawing Generate and Report.</p>
		</div>
		<div class="row ">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Technologies:</h3>
					</div>
					<div class="panel-body panel-info">
						<ul>
							<li>Open GL</li>
							<li>C#.Net</li>
							<li>ASP.Net with MVC</li>
							<li>SQL Lite</li>
							<li>JIRA </li>
							<li>GIT</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Concepts:</h3>
					</div>
					<div class="panel-body">
						<ul>
							<li>Vectors - Normalization, Distance, Angle</li>
							<li>Matrix - Transformation:Scaling, Rotation, Translation</li>
							<li>Trignometry</li>
							<li>Constructive Solid Geometry(CSG)</li>
							<li>Random Forest</li>
							<li>Permutation and Combination</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			@RenderPage("~/Views/Default/Mainpage.cshtml")
		</div>

	</div>
	
	<div class="panel-footer ">
		<span class="h4">Contacts:</span>
		<div class=" navbar nav-justified">
			<span class="navbar-left">Email Id - <strong> info@viskartech.com </strong> </span>
			<span class="navbar-right">Official Website - <strong>	https://www.viskartech.com </strong> </span>			
		</div>
	</div>

</div>
