
@{
	ViewBag.Title = "PersonalIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-grid.min.css.map" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-reboot.min.css.map" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css.map" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/popper-utils.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div class=" container">
	<div class="row">

		<div>
			<div id="accordion" class="panel">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#panelone" data-toggle="collapse" data-parent="#accordion">
								<span class="glyphicon"></span>
								Details
							</a>
						</h4>
					</div>
					<div id="panelone" class="panel-collapse">
						<div class="panel-body">
							<ul class="list-group-item-text">
								<li>	   	 Name:	<strong>SakthiNarayanan</strong></li>
								<li>Date of Birth:	<strong>19 July 1992</strong></li>
								<li>	 Email Id:	<strong>narayanansakthi1992@gmail.com</strong></li>
								<li>    Home Town:	<strong>Tirunelveli</strong></li>
								<li> Current City:	<strong>Chennai</strong></li>

							</ul>
						</div>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#paneltwo" data-toggle="collapse" data-parent="#accordion">
								<span class="glyphicon"></span>
								Family
							</a>
						</h4>
					</div>
					<div id="paneltwo" class="panel-collapse">
						<div class="panel-body">
							@RenderPage("~/Views/Personal/Family.cshtml")
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
