
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Ethel</h3>
	</div>


	<div class=" panel-body">
		<p><strong>Introduction</strong></p>
		<div class=" panel-body">
			<p>
				<strong>Ethel(ஈதல்)</strong> is a word from language Tamil which refers Donate.<br>
				<strong>Virutcham(விருட்சம்)</strong> is a word from language Tamil which refers Rising Sign or Spread.<br>
				<strong>From the Aathichudi(ஆத்திச்சூடி)</strong><br>
				"இயல்வது கரவவல்"
				Help to your best possible extent<br>
				"ஈவது விலக்வகல்" Don’t stop doing charity<br>
				<span class=" float-md-right">-ovvaiiyar</span><br>
				Humanity means caring for and helping others whenever and wherever possible. It will
				never die until human dies. Humanity means helping others at times when they need that help
				the most, humanity means forgetting your selfish interests at times when others need your help.
				We handed together for helping a society by giving a
				<ul>
					<li>Food,</li>
					<li>Dress,</li>
					<li>Education,</li>
					<li>Medicine and</li>
					<li>Medicine</li>
				</ul>


				“Reach out and help others. If you have the power to make someone happy, do it. Be a vessel,
				be the change, be the difference, or be the inspiration. Shine your light as an example. The
				world needs more of that.”<br>
				<span class=" float-md-right"><strong>-Germany Kent</strong></span><br>


				Humanity is not just a word for symbolizing the human compassion and civilization, but it goes
				beyond the horizons of human nature and his creations. It is all about using hearts along with the
				minds in all the endeavors of human kind. Today’s’ world, when we look at it in a social point of
				view, is full of greed, commotion, distress and distrust. Besides becoming more civilized and
				learning about the intricacies of human race and development, we humans are mired by the new
				wave of modernization and outcomes of transformation due to technology innovations and
				cultural incursions. As a result, we are preoccupied with our television, mobile phones,
				computers, etc., spending less time with the fellow humans. Our direct interactions with our
				children, neighbors, and friends are taken away by this massive modern hi-tech living style. We
				do realize many times a day the importance of humanity, love and kindness to other living beings.<br>
				<strong>
					Ethel-Virutcham:
				</strong>
				<br>
				“ஈதல் இசசபட வாழ்தல் அதுவல்லது<br>
				ஊதியம் இல்சல உயிர்க்கு”<br>

				<span class=" float-md-right">-Thiruvalluvar</span><br>

			<p>
				Meaning of above statement is “Give to the needy and live with praise. There is no greater
				profit to life than that”.
				We have been here for last 8 years and we gone through some orphanages and villages
				on the first Sunday of April. We had provided basic utilities like
			</p><br>
			<strong>Basic Utilities for Children</strong>
			<ul>
				<li>Food,</li>
				<li>Books,</li>
				<li>Pen,</li>
				<li>Pencil and</li>
				<li>Note book</li>
			</ul>
			<strong>Basic Utilities for Elders</strong>
			<ul>
				<li>Dress,</li>
				<li>Medicines,</li>
			</ul>
			<strong>Mission:</strong>
			Spread Humanity<br>
			<strong>Vision:</strong>
			We believe in the power of humanity to change the world from technology
			</p>
		</div>

	</div>


	<div class="panel-footer ">
		<span class="h4">Contacts:</span>
		<div class=" navbar nav-justified">
			<span class="navbar-left">Email Id - <strong> ethelvirutcham@gmail.com </strong> </span>
			<span class="navbar-right">Phone NO -<strong>9962842335,9600168757, 7502607548 </strong> </span>
			<br>
			@*<span class="navbar-left">Facebook - </span>
			<span class="navbar-right">Twitter - </span>*@
			@*<span>LinkedIn</span>*@
		</div>
	</div>

</div>
